$black: #000000;
$white: #ffffff;
$light: #fafafa;
$light1: #f6f6f6;
$light2: #f0f0f0;
$light3: #d4cfd3;
$light4: #dcdcdc;
$bluelight: #4894d9;
$grey: #a1a1a1;
$darkgray: darkgray;
$bisque: bisque;
$blue: blue;
$aquamarine: aquamarine;
$red: red;